version: '2'
services:
  todo-app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./views:/app/views
      - ./public:/app/public
    ports:
      - "3000:3000"
    links:
      - mongo
    depends_on:
      - mongo
    environment:
      - MONGO_ADDR=mongo
    restart: always
  mongo:
    image: mongo
